<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>

<div ng-app>
  <h4>First example</h4>
  20 + 30 = {{ 20 + 30}}
</div>
<div>
  <h4>Second example</h4>
  20 + 30 = {{ 20 + 30}} <p>Will not work, because this div not included the "ng-app" directive</p>
</div>
