<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>

<div>
  <h4>First example</h4>
  20 + 30 = {{ 20 + 30}}
</div>
<div>
  <h4>Second example</h4>
  200 + 200 = {{ 200 + 200}}
</div>

<div>
 <h4>Third example</h4>
  {{ message }}
</div>